<ion-header>

  <ion-navbar>
    <ion-title>Registrar</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault();">

    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.errors" margin-left>Valor Inválido</p>
    <ion-item>
        <ion-label stacked>Email*</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Email Inválido</p>
    <ion-item>
      <ion-label stacked>Senha*</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-label color="danger" margin-left *ngIf="formGroup.hasError('passwordNotMatch')">Senhas não conferem</ion-label>
    <p *ngIf="formGroup.controls.password.dirty && formGroup.controls.password.errors" margin-left>Valor Inválido</p>
    <ion-item>
      <ion-label stacked>Confirmação Senha*</ion-label>
      <ion-input formControlName="passwordConfirmation" type="password"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls.passwordConfirmation.dirty && formGroup.controls.passwordConfirmation.errors" margin-left>Valor Inválido</p>
   
    <div [formGroup]="formGroupAddress">

      <ion-item>
        <ion-label stacked>CEP*</ion-label>
        <ion-input formControlName="postalCode" type="number" (ionBlur)="updateAddress()"></ion-input>
      </ion-item>
      <p *ngIf="formGroupAddress.controls.postalCode.dirty && formGroupAddress.controls.postalCode.errors" margin-left>Valor Inválido</p>
      <ion-item>
        <ion-label stacked>Endereço*</ion-label>
        <ion-input formControlName="addressName" type="text"></ion-input>
      </ion-item>
      <p *ngIf="formGroupAddress.controls.addressName.dirty && formGroupAddress.controls.addressName.errors" margin-left>Valor Inválido</p>
      <ion-item>
        <ion-label stacked>Número*</ion-label>
        <ion-input formControlName="addressNumber" type="number"></ion-input>
      </ion-item>
      <p *ngIf="formGroupAddress.controls.addressNumber.dirty && formGroupAddress.controls.addressNumber.errors" margin-left>Valor Inválido</p>
      <ion-item>
        <ion-label stacked>Bairro*</ion-label>
        <ion-input formControlName="neighborhood" type="text"></ion-input>
      </ion-item>
      <p *ngIf="formGroupAddress.controls.neighborhood.dirty && formGroupAddress.controls.neighborhood.errors" margin-left>Valor Inválido</p>
      <ion-item>
        <ion-label stacked>Complemento</ion-label>
        <ion-input formControlName="complement" type="text"></ion-input>
      </ion-item>
  
      <ion-list>
        <ion-item>
          <ion-label>Estado*</ion-label>
          <ion-select formControlName="state" (ionChange)="updateCidades()">
            <ion-option *ngFor="let state of estados; first as f" [value]="state.initial">{{ state.name }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <p *ngIf="formGroupAddress.controls.state.dirty && formGroupAddress.controls.state.errors" margin-left>Valor Inválido</p>
      <ion-list>
        <ion-item>
          <ion-label>Cidade*</ion-label>
          <ion-select formControlName="city">
            <ion-option *ngFor="let city of cidades" [value]="city.nome">{{city.nome}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <p *ngIf="formGroupAddress.controls.city.dirty && formGroupAddress.controls.city.errors" margin-left>Valor Inválido</p>
    </div>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Registrar</button>
    {{ formGroup.value | json }}
  </form>

</ion-content>
